<main *ngIf="data$ | async as data">
  <!-- About Section -->
  <section class="container section-split about-us">
    <div class="section-content d-flex">
      <div class="col-6">
        <div class="about-us-images d-flex">
          <div class="image-container">
            <div
              class="inner-image-wrapper"
              [ngStyle]="{
                '--backgroundImgUrl': getImageUrl(
                  data?.about?.aboutPageMainImagePath
                ),
                '--width': '480px',
                '--height': '720px'
              }"
            ></div>
          </div>
          <div
            class="image-container"
            [ngStyle]="{
              '--position': 'relative',
              '--top': '360px',
              '--right': '300px'
            }"
          >
            <div
              class="inner-image-wrapper"
              [ngStyle]="{
                '--backgroundImgUrl': getImageUrl(
                  data?.about?.aboutPageOtherImagePath
                ),
                '--width': '420px',
                '--height': '420px'
              }"
            ></div>
          </div>
        </div>
      </div>

      <div class="col-6">
        <h3 class="section-title">
          <span>{{ data?.about?.aboutSectionTitle }}</span>
        </h3>
        <h3 class="section-header text-white">
          {{ data?.about?.aboutSectionSubTitle }}
        </h3>
        <h3 class="section-description text-white">
          {{ data?.about?.aboutSectionDescription }}
        </h3>
      </div>
    </div>
  </section>

  <!-- Stats Section -->
  <section class="stats section-split">
    <img class="left" src="assets/images/techno_left.png" alt="" />
    <img class="right" src="assets/images/techno_right.png" alt="" />
    <div class="container">
      <div class="row" *ngIf="data">
        <div class="stat-item col-4" *ngFor="let item of data?.statistics">
          <h2>{{ item.valueText }}</h2>
          <p>{{ item.label }}</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Our Commitment Section -->
  <section class="our-commitment section-split">
    <h3 class="section-title text-center">
      <span>{{ data?.about?.qualitySectionTitle }}</span>
    </h3>
    <h3 class="section-header text-white text-center mb-5">
      {{ data?.about?.qualitySectionDescription }}
    </h3>

    <div class="w-100 row" *ngIf="data">
      <!-- Left Qualities -->
      <div class="col-4">
        <div class="row gap-5">
          <div class="commitment-item mb-5" *ngFor="let q of leftQualities">
            <div class="d-flex justify-content-center mb-4">
              <div
                class="commitment-image-wrapper"
                [ngStyle]="{
                  '--backgroundImgUrl': getImageUrl(
                    q.filePath || 'assets/images/commitment_img.png'
                  ),
                  '--width': '70px',
                  '--height': '70px'
                }"
              ></div>
            </div>
            <h4 class="item-title">{{ q.title }}</h4>
            <div class="d-flex justify-content-center my-3">
              <div class="separator"></div>
            </div>
            <p class="item-description">{{ q.description }}</p>
          </div>
        </div>
      </div>

      <!-- Middle Image -->
      <div class="col-4">
        <div class="commitment-image-container">
          <div
            class="inner-image-wrapper"
            [ngStyle]="{
              '--backgroundImgUrl': getImageUrl(
                data?.about?.aboutPageQualityImagePath
              ),
              '--width': '480px',
              '--height': '720px'
            }"
          ></div>
        </div>
      </div>

      <!-- Right Qualities -->
      <div class="col-4">
        <div class="row gap-5">
          <div class="commitment-item mb-5" *ngFor="let q of rightQualities">
            <div class="d-flex justify-content-center mb-4">
              <div
                class="commitment-image-wrapper"
                [ngStyle]="{
                  '--backgroundImgUrl': getImageUrl(
                    q.filePath || 'assets/images/commitment_img.png'
                  ),
                  '--width': '70px',
                  '--height': '70px'
                }"
              ></div>
            </div>
            <h4 class="item-title">{{ q.title }}</h4>
            <div class="d-flex justify-content-center my-3">
              <div class="separator"></div>
            </div>
            <p class="item-description">{{ q.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
