<main *ngIf="data$ | async as data">
  <!-- About Section -->
  <section class="container section-split about-us">
    <div class="row">
      <div class="col-lg-6 col-12 about-us-images">
        <div class="image-container">
          <div
            class="inner-image-wrapper"
            [ngStyle]="{
                '--backgroundImgUrl': getImageUrl(
                  data?.about?.aboutPageMainImagePath
                ),
              }"
          ></div>
        </div>
        <div class="image-container">
          <div
            class="inner-image-wrapper"
            [ngStyle]="{
              '--backgroundImgUrl': getImageUrl(
                data?.about?.aboutPageOtherImagePath
              )
            }"
          ></div>
        </div>
      </div>

      <div class="col-lg-6 col-12 mt-5 mt-lg-0">
        <h3
          class="section-title d-flex justify-content-center justify-content-lg-start"
        >
          <span>{{ data?.about?.aboutSectionTitle }}</span>
        </h3>
        <h3 class="section-header text-white">
          {{ data?.about?.aboutSectionSubTitle }}
        </h3>
        <h3 class="section-description text-white">
          {{ data?.about?.aboutSectionDescription }}
        </h3>
      </div>
    </div>
  </section>

  <!-- Stats Section -->
  <section class="stats section-split">
    <img class="left" src="assets/images/techno_left.png" alt="" />
    <img class="right" src="assets/images/techno_right.png" alt="" />
    <div class="container">
      <div class="row row-gap-5" *ngIf="data">
        <div
          class="stat-item col-lg-4 col-6 d-flex flex-column align-items-center align-items-lg-start"
          *ngFor="let item of data?.statistics"
        >
          <h2>{{ item.valueText }}</h2>
          <p>{{ item.label }}</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Our Commitment Section -->
  <section class="container container-lg-none our-commitment section-split">
    <h3 class="section-title text-center">
      <span>{{ data?.about?.qualitySectionTitle }}</span>
    </h3>
    <h3 class="section-header text-white text-center mb-5">
      {{ data?.about?.qualitySectionDescription }}
    </h3>

    <div class="row row-gap-5" *ngIf="data">
      <!-- Left Qualities -->
      <div class="col-lg-4 col-12">
        <div class="row gap-5">
          <div class="commitment-item mb-5" *ngFor="let q of leftQualities">
            <div class="d-flex justify-content-center mb-4">
              <div
                class="commitment-image-wrapper"
                [ngStyle]="{
                  '--backgroundImgUrl': getImageUrl(
                    q.filePath || 'assets/images/commitment_img.png'
                  ),
                  '--width': '70px',
                  '--height': '70px'
                }"
              ></div>
            </div>
            <h4 class="item-title">{{ q.title }}</h4>
            <div class="d-flex justify-content-center my-3">
              <div class="separator"></div>
            </div>
            <p class="item-description">{{ q.description }}</p>
          </div>
        </div>
      </div>

      <!-- Middle Image -->
      <div class="col-lg-4 col-12">
        <div class="commitment-image-container">
          <div
            class="inner-image-wrapper"
            [ngStyle]="{
              '--backgroundImgUrl': getImageUrl(
                data?.about?.aboutPageQualityImagePath
              ),
            }"
          ></div>
        </div>
      </div>

      <!-- Right Qualities -->
      <div class="col-lg-4 col-12">
        <div class="row gap-5">
          <div class="commitment-item mb-5" *ngFor="let q of rightQualities">
            <div class="d-flex justify-content-center mb-4">
              <div
                class="commitment-image-wrapper"
                [ngStyle]="{
                  '--backgroundImgUrl': getImageUrl(
                    q.filePath || 'assets/images/commitment_img.png'
                  ),
                  '--width': '70px',
                  '--height': '70px'
                }"
              ></div>
            </div>
            <h4 class="item-title">{{ q.title }}</h4>
            <div class="d-flex justify-content-center my-3">
              <div class="separator"></div>
            </div>
            <p class="item-description">{{ q.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
