.fweight-300 {
  font-weight: 300 !important;
}

.fweight-400 {
  font-weight: 400 !important;
}

.fweight-500 {
  font-weight: 500 !important;
}

.fweight-600 {
  font-weight: 600 !important;
}

.fweight-700 {
  font-weight: 700 !important;
}

.ffam-inter {
  font-family: "Inter" !important;
}

.fsize-12 {
  font-size: 12px !important;
}

.fsize-14 {
  font-size: 14px !important;
}

.fsize-16 {
  font-size: 16px !important;
}

.fsize-20 {
  font-size: 20px !important;
}

.fsize-24 {
  font-size: 24px !important;
}

.fsize-28 {
  font-size: 28px !important;
}

.fsize-32 {
  font-size: 32px !important;
}

.fsize-34 {
  font-size: 34px !important;
}

.fsize-36 {
  font-size: 36px !important;
}

.fsize-38 {
  font-size: 38px !important;
}
