<ng-container *ngIf="data$ | async as homepageData">
  <main
    class="position-relative overflow-x-hidden"
    ngbScrollSpy
    #s="ngbScrollSpy"
  >
    <app-header></app-header>

    <div class="jumbotron-image">
      <!-- <img src="assets/images/jumbotron2.png" alt="" /> -->
      <video autoplay playsinline loop>
        <source src="assets/globe.webm" type="video/webm" />
      </video>
    </div>
    <section class="container section-split" ngbScrollSpyFragment="1">
      <div class="col-8">
        <h3 class="section-header text-white mb-4">
          {{ homepageData?.homepage?.title }}
        </h3>
        <h5 class="title-description text-white mb-4">
          {{ homepageData?.homepage?.subTitle }}
        </h5>
        <div class="col-8 row pt-2">
          <div class="col-4 d-flex flex-column stats">
            <h4>{{ homepageData?.homepage?.productCount }}</h4>
            <p class="m-0">{{ homepageData?.homepage?.productCountTitle }}</p>
          </div>
          <div class="col-4 d-flex flex-column stats">
            <h4>{{ homepageData?.homepage?.serviceCount }}</h4>
            <p class="m-0">{{ homepageData?.homepage?.serviceCountTitle }}</p>
          </div>
          <div class="col-4 d-flex flex-column stats">
            <h4>{{ homepageData?.homepage?.partnerCount }}</h4>
            <p class="m-0">{{ homepageData?.homepage?.partnerCountTitle }}</p>
          </div>

          <div class="col-12 d-flex mt-5">
            <button
              class="button-transparent-gradient-border be-vietnam-pro-thin"
            >
              <span>{{ homepageData?.homepage?.btnDetailText }}</span>
            </button>
          </div>
        </div>
      </div>
    </section>

    <section class="partners-carousel section-split" ngbScrollSpyFragment="2">
      <img src="assets/images/techno_left.png" alt="" />
      <div class="slider">
        <div
          class="slide-track"
          [ngStyle]="{ '--quantity': homepageData?.partners.length }"
        >
          <div
            *ngFor="let item of homepageData?.partners; let i = index"
            class="slide"
          >
            <div
              class="inner w-100 h-100"
              [ngStyle]="{
                '--backgroundImgUrl': getImageUrl(item?.filePath)
              }"
            ></div>
          </div>
        </div>
      </div>
    </section>

    <section class="container section-split about-us" ngbScrollSpyFragment="3">
      <div class="section-content d-flex">
        <div class="col-6">
          <div class="about-us-images d-flex">
            <div class="image-container">
              <div
                class="inner-image-wrapper"
                [ngStyle]="{
                  '--backgroundImgUrl': getImageUrl(
                    homepageData?.homepage?.aboutSectionOtherImagePath
                  ),
                  '--width': '480px',
                  '--height': '720px'
                }"
              ></div>
            </div>
            <div
              class="image-container"
              [ngStyle]="{
                '--position': 'relative',
                '--top': '360px',
                '--right': '300px'
              }"
            >
              <div
                class="inner-image-wrapper"
                [ngStyle]="{
              '--backgroundImgUrl': getImageUrl(homepageData?.homepage?.aboutSectionMainImagePath),
              '--width': '420px',
              '--height': '420px',
            }"
              ></div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <h3 class="section-title">
            <b>{{ homepageData?.homepage?.aboutSectionTitle }}</b>
          </h3>
          <h3 class="section-header text-white">
            {{ homepageData?.homepage?.aboutSectionSubTitle }}
          </h3>
          <h3 class="section-description text-white">
            {{ homepageData?.homepage?.aboutSectionDescription }}
          </h3>

          <div class="col-12 mt-5">
            <button
              class="button-transparent-gradient-border be-vietnam-pro-thin"
            >
              <span>{{ homepageData?.homepage?.btnAboutDetailText }}</span>
            </button>
          </div>
        </div>
      </div>
    </section>

    <section class="container section-split services" ngbScrollSpyFragment="4">
      <h3 class="section-title text-center">
        <b>{{ homepageData?.homepage?.serviceSectionTitle }}</b>
      </h3>
      <h3 class="section-header text-white text-center">
        {{ homepageData?.homepage?.serviceSectionSubTitle }}
      </h3>
      <div class="row row-gap-5 mt-5">
        <!-- loop this -->
        <div
          class="col-6"
          *ngFor="let item of homepageData?.servicesList; let i = index"
        >
          <div class="service-card">
            <div class="card-left">
              <div
                class="card-image"
                [ngStyle]="{
                  '--backgroundImgUrl': getImageUrl(item?.iconPath)
                }"
              ></div>
              <div class="card-number">{{ i < 10 ? "0" : "" }}{{ i + 1 }}</div>
            </div>
            <div class="card-right">
              <div>
                <h4 class="card-title">{{ item?.title }}</h4>
                <p class="card-description m-0 pt-3">
                  {{ item?.shortDescription }}
                </p>
              </div>
              <div class="w-100 d-flex justify-content-start m-0">
                <button class="button-transparent-gradient-border">
                  <span>Explore service</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="customers-carousel section-split" ngbScrollSpyFragment="5">
      <img src="assets/images/techno_right.png" alt="" />
      <div class="container">
        <h5 class="carousel-header be-vietnam-pro-bold text-white">
          {{ homepageData?.homepage?.customerSectionTitle }}
        </h5>
      </div>
      <div class="slider">
        <div
          class="slide-track"
          [ngStyle]="{ '--quantity': homepageData?.customers.length }"
        >
          <div *ngFor="let item of homepageData?.customers" class="slide">
            <div
              class="inner w-100 h-100"
              [ngStyle]="{
                '--backgroundImgUrl': getImageUrl(item?.filePath)
              }"
            ></div>
          </div>
        </div>
      </div>
    </section>

    <section class="container section-split" ngbScrollSpyFragment="6">
      <h3 class="section-title text-center">
        <b>{{ homepageData?.homepage?.productSectionTitle }}</b>
      </h3>
      <h3 class="section-header text-white text-center">
        {{ homepageData?.homepage?.productSectionSubTitle }}
      </h3>
      <div class="mt-5">
        <app-carousel [items]="homepageData?.servicesList"></app-carousel>
      </div>
    </section>

    <section
      class="get-in-touch-with-us section-split container"
      ngbScrollSpyFragment="7"
    >
      <div class="row">
        <div class="col-lg-5 col-12 left">
          <h3 class="section-title">
            <b>{{ homepageData?.contacts?.title }}</b>
          </h3>
          <h2 class="section-header text-white">
            {{ homepageData?.contacts?.subTitle }}
          </h2>
          <p class="section-description text-white text-lg-start">
            {{ homepageData?.contacts?.shortDescription }}
          </p>
          <div class="info-container">
            <div class="row gy-4 pt-4">
              <div class="col-lg-12 col-md-6 col-12">
                <div
                  class="info-card d-flex flex-row align-items-center"
                  style="gap: 14px"
                >
                  <div class="info-image-wrapper">
                    <i class="fa-solid fa-location-dot"></i>
                  </div>
                  <div>
                    <h3 class="m-0 text-break">
                      {{ homepageData?.contacts?.lblAddressText }}:
                    </h3>
                    <p class="m-0 text-break">
                      {{ homepageData?.contacts?.address }}
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-6 col-12">
                <div
                  class="info-card d-flex flex-row align-items-center"
                  style="gap: 14px"
                >
                  <div class="info-image-wrapper">
                    <i class="fa-solid fa-clock"></i>
                  </div>
                  <div>
                    <h3 class="m-0 text-break">
                      {{ homepageData?.contacts?.lblOpeningHoursText }}:
                    </h3>
                    <p class="m-0 text-break">
                      {{ homepageData?.contacts?.openingHours }}
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-6 col-12">
                <div
                  class="info-card d-flex flex-row align-items-center"
                  style="gap: 14px"
                >
                  <div class="info-image-wrapper">
                    <i class="fa-solid fa-phone"></i>
                  </div>
                  <div>
                    <h3 class="m-0 text-break">
                      {{ homepageData?.contacts?.lblContactText }}:
                    </h3>
                    <p class="m-0 text-break">
                      {{ homepageData?.contacts?.contactNumber }}
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-6 col-12">
                <div
                  class="info-card d-flex flex-row align-items-center"
                  style="gap: 14px"
                >
                  <div class="info-image-wrapper">
                    <i class="fa-solid fa-envelope"></i>
                  </div>
                  <div>
                    <h3 class="m-0 text-break">
                      {{ homepageData?.contacts?.lblEmailText }}:
                    </h3>
                    <p class="m-0 text-break">
                      {{ homepageData?.contacts?.email }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-7 position-relative">
          <img
            class="form-background"
            src="assets/images/form-background.png"
            alt=""
          />
          <div class="form-wrapper">
            <form
              class="col-12 row"
              [formGroup]="appealForm"
              *ngIf="!requestSent"
            >
              <div class="col-md-6 col-12 mb-3 d-flex flex-column">
                <label class="form-label"
                  >{{ "contactUsData.nameAndSurname" | translate }}
                  <span class="required-mark">*</span></label
                >
                <input
                  type="email"
                  class="form-control"
                  formControlName="fullName"
                />
                <!--Required message-->
                <div
                  class="validationMessage"
                  *ngIf="
                appealForm.get('fullName')?.errors?.['required'] &&
                appealForm.get('fullName')?.touched
              "
                >
                  <p class="p-0 m-0">This field is required.</p>
                </div>
              </div>
              <div class="col-md-6 col-12 mb-3 d-flex flex-column">
                <label class="form-label"
                  >{{ "contactUsData.email" | translate }}
                  <span class="required-mark">*</span></label
                >
                <input
                  type="email"
                  class="form-control"
                  formControlName="email"
                />
                <!--Required message-->
                <div
                  class="validationMessage"
                  *ngIf="
                   appealForm.get('email')?.errors?.['required'] &&
                   appealForm.get('email')?.touched
                 "
                >
                  <p class="p-0 m-0">This field is required.</p>
                </div>
                <div
                  class="validationMessage"
                  *ngIf="appealForm.get('email')?.invalid && appealForm.get('email')?.errors?.['email']"
                >
                  <p class="p-0 m-0">Please enter email in correct format.</p>
                </div>
              </div>
              <div class="col-md-6 col-12 mb-3 d-flex flex-column">
                <label class="form-label"
                  >{{ "contactUsData.contactNumber" | translate }}
                  <span class="required-mark">*</span></label
                >
                <input
                  type="email"
                  class="form-control"
                  formControlName="contactNumber"
                />
                <!--Required message-->
                <div
                  class="validationMessage"
                  *ngIf="
                   appealForm.get('contactNumber')?.errors?.['required'] &&
                   appealForm.get('contactNumber')?.touched
                 "
                >
                  <p class="p-0 m-0">This field is required.</p>
                </div>
              </div>
              <div class="col-md-6 col-12 mb-3 d-flex flex-column">
                <label class="form-label"
                  >{{ "contactUsData.subject" | translate }}
                  <span class="required-mark">*</span></label
                >
                <input
                  type="text"
                  class="form-control"
                  formControlName="subject"
                />

                <div
                  class="validationMessage"
                  *ngIf="
                      appealForm.get('subject')?.errors?.['required'] &&
                      appealForm.get('subject')?.touched
                    "
                >
                  <p class="p-0 m-0">This field is required.</p>
                </div>
              </div>
              <div class="col-12">
                <label class="form-label"
                  >{{ "contactUsData.message" | translate }}
                  <span class="required-mark">*</span></label
                >
                <textarea
                  class="form-control"
                  rows="3"
                  formControlName="content"
                ></textarea>
                <!--Required message-->
                <div
                  class="validationMessage"
                  *ngIf="
                   appealForm.get('content')?.errors?.['required'] &&
                   appealForm.get('content')?.touched
                 "
                >
                  <p class="p-0 m-0">This field is required.</p>
                </div>
              </div>
              <div class="col-12 mt-4">
                <button
                  class="gradient-button col-md-6 col-12"
                  type="button"
                  (click)="submitAppeal()"
                >
                  <span>{{ "contactUsData.send" | translate }} </span>
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="request-sent col-lg-6 h-100" *ngIf="requestSent">
          <img src="assets/images/send-email.png" alt="" />
          <div class="content">
            <h5>Request sent!</h5>
            <p>We will contact you soon!</p>
          </div>
        </div>
      </div>
    </section>

    <app-footer></app-footer>
  </main>

  <nav class="aside-nav">
    <ul class="list-unstyled d-flex flex-column" [ngbScrollSpyMenu]="s">
      <li ngbScrollSpyItem="1">
        <div class="outer">
          <div class="inner"></div>
        </div>
      </li>
      <li ngbScrollSpyItem="2">
        <div class="outer">
          <div class="inner"></div>
        </div>
      </li>
      <li ngbScrollSpyItem="3">
        <div class="outer">
          <div class="inner"></div>
        </div>
      </li>
      <li ngbScrollSpyItem="4">
        <div class="outer">
          <div class="inner"></div>
        </div>
      </li>
      <li ngbScrollSpyItem="5">
        <div class="outer">
          <div class="inner"></div>
        </div>
      </li>
      <li ngbScrollSpyItem="6">
        <div class="outer">
          <div class="inner"></div>
        </div>
      </li>
      <li ngbScrollSpyItem="7">
        <div class="outer">
          <div class="inner"></div>
        </div>
      </li>
    </ul>
  </nav>
</ng-container>
