<section class="container services mt-5">
  <h3 class="section-title text-center"><b>Products</b></h3>
  <h3 class="section-header text-white text-center">
    Innovative Digital Solutions Built to Perform
  </h3>

  <div class="row row-gap-5 mt-5">
    <div class="col-6">
      <div class="product-card">
        <div
          class="card-image"
          [ngStyle]="{
            '--backgroundImgUrl': getImageUrl(
              'https://picsum.photos/600/600?random=1'
            )
          }"
        ></div>
        <div class="card-right">
          <h4 class="card-title">Retail360</h4>
          <span class="card-subtitle">
            <i class="fa-regular fa-calendar-days"></i>
            <span>Jan 13, 2025</span>
          </span>
          <p class="card-description">
            It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was
            popularised in the 1960s with the release of Letraset sheets
            containing Lorem Ipsum passages, and more recently with desktop
            publishing software like Aldus PageMaker including versions of Lorem
            Ipsum.
          </p>
          <div class="card-tags">
            <div class="card-tag">HTML</div>
            <div class="card-tag">CSS</div>
            <div class="card-tag">TypeScript</div>
            <div class="card-tag">Angular</div>
            <div class="card-tag">Net</div>
          </div>
          <div class="col-12 d-flex">
            <button class="gradient-button be-vietnam-pro-thin">
              <span>Read more</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="product-card">
        <div
          class="card-image"
          [ngStyle]="{
            '--backgroundImgUrl': getImageUrl(
              'https://picsum.photos/600/600?random=1'
            )
          }"
        ></div>
        <div class="card-right">
          <h4 class="card-title">Retail360</h4>
          <span class="card-subtitle">
            <i class="fa-regular fa-calendar-days"></i>
            <span>Jan 13, 2025</span>
          </span>
          <p class="card-description">
            It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was
            popularised in the 1960s with the release of Letraset sheets
            containing Lorem Ipsum passages, and more recently with desktop
            publishing software like Aldus PageMaker including versions of Lorem
            Ipsum.
          </p>
          <div class="card-tags">
            <div class="card-tag">HTML</div>
            <div class="card-tag">CSS</div>
            <div class="card-tag">TypeScript</div>
            <div class="card-tag">Angular</div>
            <div class="card-tag">Net</div>
          </div>
          <div class="col-12 d-flex">
            <button class="gradient-button be-vietnam-pro-thin">
              <span>Read more</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="product-card">
        <div
          class="card-image"
          [ngStyle]="{
            '--backgroundImgUrl': getImageUrl(
              'https://picsum.photos/600/600?random=1'
            )
          }"
        ></div>
        <div class="card-right">
          <h4 class="card-title">Retail360</h4>
          <span class="card-subtitle">
            <i class="fa-regular fa-calendar-days"></i>
            <span>Jan 13, 2025</span>
          </span>
          <p class="card-description">
            It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was
            popularised in the 1960s with the release of Letraset sheets
            containing Lorem Ipsum passages, and more recently with desktop
            publishing software like Aldus PageMaker including versions of Lorem
            Ipsum.
          </p>
          <div class="card-tags">
            <div class="card-tag">HTML</div>
            <div class="card-tag">CSS</div>
            <div class="card-tag">TypeScript</div>
            <div class="card-tag">Angular</div>
            <div class="card-tag">Net</div>
          </div>
          <div class="col-12 d-flex">
            <button class="gradient-button be-vietnam-pro-thin">
              <span>Read more</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="product-card">
        <div
          class="card-image"
          [ngStyle]="{
            '--backgroundImgUrl': getImageUrl(
              'https://picsum.photos/600/600?random=1'
            )
          }"
        ></div>
        <div class="card-right">
          <h4 class="card-title">Retail360</h4>
          <span class="card-subtitle">
            <i class="fa-regular fa-calendar-days"></i>
            <span>Jan 13, 2025</span>
          </span>
          <p class="card-description">
            It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was
            popularised in the 1960s with the release of Letraset sheets
            containing Lorem Ipsum passages, and more recently with desktop
            publishing software like Aldus PageMaker including versions of Lorem
            Ipsum.
          </p>
          <div class="card-tags">
            <div class="card-tag">HTML</div>
            <div class="card-tag">CSS</div>
            <div class="card-tag">TypeScript</div>
            <div class="card-tag">Angular</div>
            <div class="card-tag">Net</div>
          </div>
          <div class="col-12 d-flex">
            <button class="gradient-button be-vietnam-pro-thin">
              <span>Read more</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
