<ng-container *ngIf="data$ | async as data">
  <section class="container services mt-5">
    <h3 class="section-title text-center">
      <b>{{ data.productPage?.pageTitle }}</b>
    </h3>
    <h3 class="section-header text-white text-center">
      {{ data.productPage?.description }}
    </h3>

    <div class="row row-gap-5 mt-5 mb-4">
      <div
        class="col-md-6 col-lg-6 col-sm-12"
        *ngFor="let item of data?.products?.items"
      >
        <div class="product-card">
          <div
            class="card-image"
            [ngStyle]="{
              '--backgroundImgUrl': getImageUrl(item.coverImagePath)
            }"
          ></div>
          <div class="card-right">
            <h4 class="card-title">{{ item.title }}</h4>
            <span class="card-subtitle">
              <i class="fa-regular fa-calendar-days"></i>
              <span>{{ item.createdDate }}</span>
            </span>
            <p class="card-description">
              {{ item.shortDescription }}
            </p>
            <div class="card-tags">
              <div class="card-tag" *ngFor="let tag of item.tags">
                {{ tag }}
              </div>
            </div>
            <div class="col-12 d-flex">
              <button
                class="gradient-button be-vietnam-pro-thin"
                [routerLink]="['/home', 'product', item.slug]"
              >
                <span>{{ data?.homepage?.btnDetailText }}</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <ng-container *ngIf="data.products?.count">
    <div class="w-100" *ngIf="page$ | async as page">
      <p-paginator
        (onPageChange)="onPageChange($event)"
        [first]="page.first"
        [pageLinkSize]="page.pageSize"
        [rows]="page.rows"
        [totalRecords]="data.products?.count"
        [showFirstLastIcon]="false"
      />
    </div>
  </ng-container>
</ng-container>
